<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sklep</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>
<body>
    <!-- Navigation -->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">

            <div class="container">


                <a class="navbar-brand font-weight-bold" asp-area="" asp-page="/Index"><strong>SKLEP</strong></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                        aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">

                            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" asp-area="" asp-page="/Cart/Index">
                                <i class="fas fa-shopping-cart blue-text"></i>

                                Koszyk <span class="sr-only">(current)</span>
                            </a>

                        </li>

                        <li class="nav-item ml-3">

                            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" asp-area="" asp-page="/Categories/Index">
                                <i class="fas fa-cog blue-text"></i>

                                Produkty
                            </a>

                        </li>

                    </ul>

                </div>

            </div>

        </nav>

        <!-- Navbar -->
    </header>
    <!-- Navigation -->
    <div class="container mt-5">
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="page-footer text-center text-md-left stylish-color-dark pt-0">



        <!-- Footer Links -->
        <div class="container mt-5 mb-4 pt-2 text-center text-md-left">

            <div class="row mt-3">

                <!-- First column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                    <h6 class="text-uppercase font-weight-bold"><strong>Jeden</strong></h6>

                    <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                    <p>
                        Lorem ipsum dolor sit amet,

                        consectetur

                        adipisicing elit.
                    </p>

                </div>
                <!-- First column -->
                <!-- Second column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase font-weight-bold"><strong>Wielki</strong></h6>

                    <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        Lorem ipsum dolor sit amet,

                        consectetur

                        adipisicing elit.
                    </p>
                </div>
                <!-- Second column -->
                <!-- Third column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase font-weight-bold"><strong>Placeholder</strong></h6>

                    <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                    <p>
                        Lorem ipsum dolor sit amet,

                        consectetur

                        adipisicing elit.
                    </p>
                </div>
                <!-- Third column -->
                <!-- Fourth column -->
                <div class="col-md-4 col-lg-3 col-xl-3">

                    <h6 class="text-uppercase font-weight-bold"><strong>Kontakt</strong></h6>

                    <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">


                    <p><i class="fas fa-envelope mr-3"></i> aarkise@gmail.com</p>

                </div>
                <!-- Fourth column -->

            </div>

        </div>
        <!-- Footer Links -->

    </footer>
    <!-- Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/mdb.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
